<ion-header>
</ion-header>

<ion-content>
  <div class="header">

  </div>
  <div class="prato">
    <img src="../../assets/prato.png" width="55%"/>
    <div id="smoke">
        <span class="s0"></span>
        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>
        <span class="s7"></span>
        <span class="s8"></span>
        <span class="s9"></span>
      </div>
  </div>

  <div class="text-before-option">
    <div class="container-login">
        <div class="material-textfield">
          <input id="nome-textfield" class="field-spacement" placeholder=" " type="text">
          <label id="nome">Nome</label>
        </div>
        <div class="material-textfield">
          <input id="nome-textfield" class="field-spacement"  placeholder=" " type="email">
          <label id="nome">E-mail</label>
        </div>
        <div class="material-textfield">
          <input id="nome-textfield" class="field-spacement"  placeholder=" " type="number">
          <label id="nome">Idade</label>
        </div>
        <div class="material-textfield">
          <input id="nome-textfield" class="field-spacement"  placeholder=" " type="password">
          <label id="nome">Senha</label>
        </div>
        <div>
          <div class="terms-of-use">
            <ion-checkbox checked></ion-checkbox> <label style="margin-left:6px; margin-top:6px;">Concordo com os Termos de Uso</label>
          </div>
          <div class="terms-of-use">
            <ion-checkbox checked></ion-checkbox> <label style="margin-left:6px; margin-bottom:6px;">Gostaria de receber e-mails sobre novidades</label>
          </div>
        </div>
        <button ion-button class="button-login" style="background-color:rgb(63, 155, 63) !important; margin-top:10px;" (click)="inserir()">Cadastrar</button>
        <br/>
        <button ion-button class="button-login" (click)="voltar()" style="margin-top:-20px;">Voltar</button>
      </div>
       <div class="go-to-bottom">
        <span class="copyright">© Copyright 2019 Eduardo Schneider - All Rights Reserved</span>
       </div>
  </div>

</ion-content>

