<ion-header>
</ion-header>

<ion-content no-bounce>
    <ion-slides style="height:100vh; background-image: url('../../assets/bg-tutorial.png');" pager="true" [options]="slideOpts">
        <ion-slide class="slide">
          <div class="slide-image">
              <img src="../../assets/img/ica-slidebox-img-1.svg" width="100px"/>
          </div>
          <div class="slide-content">
              <label class="title">Bem-vindo ao CookCrawler!</label>
              <br/>
              <span class="content">O <b>CookCrawler</b> é um software que visa ajudar você a preparar novas receitas apenas com os ingredientes que possui em casa!</span>
          </div>
        </ion-slide>
        <ion-slide class="slide">
            <div class="slide-image">
                <img src="../../assets/img/ica-slidebox-img-2.svg" width="100px"/>
            </div>
            <div class="slide-content">
                <label class="title">Pesquisa por ingrediente!</label>
                <br/>
                <span class="content">Aqui você pode selecionar os ingredientes que possui no momento, e nós buscaremos receitas compatíveis para você!</span>
            </div>
        </ion-slide>
        <ion-slide class="slide">
            <div class="slide-image">
                <img src="../../assets/img/ica-slidebox-img-3.svg" width="100px"/>
            </div>
            <div class="slide-content">
                <label class="title">Fácil de usar!</label>
                <br/>
                <span class="content">Basta realizar o cadastro e você está pronto para se juntar à comunidade culinária e começar a cozinhar!</span>
            </div>
        </ion-slide>
        <ion-slide class="slide">
            <div class="slide-image">
                <img src="../../assets/img/ica-slidebox-img-4.svg" width="100px"/>
            </div>
            <div class="slide-content">
                <label class="title">Vamos começar ?</label>
                <br/>
                <span class="content">
                  <button ion-button class="button-comecar" routerLink="/login" routerDirection="root">Vamos lá!</button>
                </span>
            </div>
        </ion-slide>
      </ion-slides>
 </ion-content>
 
