<ion-header>
</ion-header>

<ion-content>
  <div class="header">

  </div>
  <div class="prato">
    <div style="width:230px; height:220px; background-color:white; position: absolute; top:15%; z-index:0; border-radius:100%; margin-left:-5px;"></div>
    <img src="../../assets/catssf.svg" width="80%" style="z-index:10;"/>
    <div id="smoke">
        <span class="s0"></span>
        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>
        <span class="s7"></span>
        <span class="s8"></span>
        <span class="s9"></span>
      </div>
  </div>

  <div class="text-before-option">
    <div class="container-login">
        <div class="material-textfield">
          <input id="nome-textfield" class="field-spacement" placeholder=" " [(ngModel)]="this.emailNormal" type="text">
          <label id="nome">E-mail</label>
        </div>
        <div class="material-textfield">
          <input id="nome-textfield" class="field-spacement" placeholder=" " [(ngModel)]="this.passwordNormal" type="password">
          <label id="nome">Senha</label>
        </div>
        <button ion-button class="button-login" (click)="loginNormal()">Entrar</button>
        <div class="terms">Não possui uma conta? <b routerLink="/cadastro" routerDirection="root">Cadastre-se</b>.</div>
      </div>
       <div class="go-to-bottom">
         <span class="or-enter-with">ou</span>
         <div class="login-type-button">
            <button ion-button class="button-login-facebook" (click)="onLoginFacebook()"><img src="../../assets/fb.png" width="24px" style="margin-right:10px;"/> Entrar com Facebook</button>
          </div>
        <span class="copyright">© Copyright 2019 Eduardo Schneider - All Rights Reserved</span>
       </div>
  </div>

</ion-content>

