<ion-header>
</ion-header>

<ion-content>
    <ion-slides style="height:100vh; background-image: url('../../assets/bg-tutorial.png');" pager="true" [options]="slideOpts">
        <ion-slide class="slide intro" style="align-items: flex-start !important;"> 
            <div class="intro-header">
                 <label class="intro-title">Salada de Espinafre</label>
                 <label class="intro-subtitle">por Eduardo Schneider</label>   
            </div>
        </ion-slide>

        <ion-slide class="slide">
            <div class="slide-image">
                1º passo
            </div>
            <div class="slide-content">
                <label class="title">Para essa receita precisaremos de:</label>
                <br/>
                <span class="content">
                    1 maço de espinafre<br/>
                    1 cenoura ralada<br/>
                    1 tomate ou outra fruta<br/>
                    1/2 pepino<br/>
                    1/2 suco de limão<br/>
                    Palmito <b>(opcional)</b><br/>
                    Sal & Azeite<br/>
                    <br/>
                    Separe esses ingredientes antes de prosseguir!
                </span>
            </div>
        </ion-slide>

        <ion-slide class="slide">
            <div class="slide-image">
                2º passo
            </div>
            <div class="slide-content">
                <label class="title">Com tudo em mãos, vamos começar!</label>
                <br/>
                <span class="content">
                    Primeiro, corte o pepino e o tomate em vários pedacinhos pequenos.<br/><br/>
                    Se você optou por usar outra fruta, ou mais frutas, faça o mesmo procedimento de forma que os pedaços fiquem pequenos o suficiente para se misturarem.
                    <br/>
                    <br/>
                    <b>Adicione tudo na tigela!</b>
                </span>
            </div>
        </ion-slide>

        <ion-slide class="slide">
            <div class="slide-image">
                3º passo
            </div>
            <div class="slide-content">
                <label class="title">Próxima etapa!</label>
                <br/>
                <span class="content">
                    Adicione a cenoura ralada na tigela já com os vegetais e frutas anteriores, e por fim, adicione o espinafre.
                    <br/><br/>
                    Se você tiver palmito, agora é a hora de adicioná-lo para um sabor ainda mais diferenciado!
                </span>
            </div>
        </ion-slide>

        <ion-slide class="slide">
            <div class="slide-image">
                4º passo
            </div>
            <div class="slide-content">
                <label class="title">E para terminar...</label>
                <br/>
                <span class="content">
                    Acrescente o suco de limão distribuindo uniformemente pela a tigela.
                    <br/><br/>
                    Adicione duas pitadas de sal e mexa bem para que o tempero atinja todos os ingredientes. <br/>
                    <br/>
                    Ao terminar de mexer, despeje um fio de azeite pela salada e mexa novamente.
                    <br/><br/>
                    <button ion-button routerLink="/tabs/tab1" routerDirection="back" class="end-recipe">Finalizar</button>
                </span>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
