<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Opções
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>Avalie-nos</ion-item>
        <ion-item ion-button (click)="compartilharFacebook()">Compartilhar Facebook</ion-item>
        <ion-item ion-button (click)="compartilharTwitter()">Compartilhar Twitter</ion-item>
        <ion-item ion-button (click)="compartilharWhatsapp()">Compartilhar Whatsapp</ion-item>
        <ion-item>Convidar Amigos</ion-item>
        <ion-item>Ranking</ion-item>
        <ion-item (click)="doFbLogout()"><label style="color:red; font-weight: bold;">Sair</label></ion-item>
      </ion-list>

</ion-content>
