<ion-header>

</ion-header>

<ion-content class="background-list-recipes">

  <div class="header-list-recipes">
    <button ion-button class="voltar" (click)="voltar()"><</button><label>Receitas</label>
  </div>

  <ion-card (click)="start()">
    <ion-card-header>
    </ion-card-header>
    
    <ion-card-content>
      <ion-card-title>Salada de Espinafre</ion-card-title>
      <div class="divisoria"><div class="line"></div></div>
      Uma deliciosa salada de espinafre, frango e romã, super simples de fazer e que vai agradar seu paladar com seu sabor único.
      <label class="avaliacao-receita">⭐⭐⭐⭐⭐ (5.0)</label>
    </ion-card-content>
    <div class="card-bottom">
      <label class="tempo-preparo"><img src="../../assets/clock.svg" class="img-clock"/><b> Tempo de preparo: 15 minutos </b></label>
    </div>
  </ion-card>

</ion-content>
